.p-menubar-start {
    margin-right: auto;
    img {
        cursor: pointer;
    }
}
.p-menubar {
    margin-bottom: 20px;
    justify-content: center;
    border: none !important;
}
.p-menubar-end {
    button {
        display: flex;
        flex-flow: row nowrap;
        background-color: transparent;
        border: none;
        .wrapper-text-avatar {
            margin-left: 10px;
            display: flex;
            flex-flow: column nowrap;
            align-items: start;
            span:first-child {
                font-weight: bold;
            }
        }
    }
}
.p-inputtext {
    width: 100%;
}
.p-colorpicker {
    margin: auto 0px;
    margin-left: 10px;
}
.wrapper-radio {
    display: flex;
    flex-flow: column nowrap;
    label {
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: left;
        span {
            margin: auto 0;
        }
        .radio {
            margin: 5px;
        }
    }
}
.wrapper-dialog-avatar{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    p {
        font-size: 0.8rem;
        color: rgb(16, 185, 129)
    }
    input {
        display: none;
    }
    img {
        width: 100px;
        height: 100px;
        object-position: center;
        object-fit: cover;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
        } 
    }  
} 
.wrapper-dialog-markers {
    display: flex;
    flex-flow: column nowrap;
    .wrapper-markers {
        display: flex;
        flex-flow: row nowrap;
        margin: 5px 0;
    }  
}
.wrapper-color {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .color-block {
        text-align: center;
        min-width: 50%;
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 10px;
    }
}